


<h1>
    HomeController Index View
</h1>

@*<a asp-action="Index" asp-controller="Seed" class="btn btn-info">Seed Home Page</a>*@

<h3>
    SEEDING MILESTONE EASY BUTTON ACCESS (press these butons to bypass validation and see all rows)
</h3>
<p>
    @*<a asp-action="Edit" asp-controller="Account">EditAccount</a>*@


    <a asp-action="Customers">USERS</a>
    @*<a asp-action="Employees">EMPLOYEES</a>*@
    <a asp-action="Orders">ORDERS</a>
    <a asp-action="Books">BOOKS</a>
    <a asp-action="Cards">CREDIT CARDS</a>
    <a asp-action="OrderDetails">ORDER DETAILS</a>
    <a asp-action="Reviews">REVIEWS</a>


</p>